.container{
    border: 5px solid red;
}

.conteudo{
    display: flex;
    width: 350px; /*Largura*/
    scroll-snap-type: x mandatory;
    scroll-padding: 25px;
    column-gap: 20px; /* intervalo de coluna:*/
    margin-bottom: 20px; /*margin-bottom: para indicar o espaçamento inferior*/
}
.card{
    flex: 0 0 100%;
    padding: 30px;
    scroll-snap-align: start;
    border-radius: 30px;
    background: linear-gradient(180deg, #B73C3C 0%, rgba(255, 255, 255, 0) 100%);
}
.carrousel{
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    gap: 1.2rem;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    column-gap: 20px;
    margin-bottom: 20px;
    
}
.cards{
    background: linear-gradient(219.16deg, #24A25E 14.24%, rgba(84, 111, 96, 0) 78.41%);
    border-radius: 30px;
}

.carrosel{
    display: flex;
    width: 500px;
    column-gap: 20px;
    margin-bottom: 20px;
    height: 70px; /*Altura*/
    
}
.car{
    border-radius: 30px;
    background: linear-gradient(233.59deg, #2444B5 14.52%, rgba(32, 162, 170, 0) 85.6%);
}

.Pessoais{
    
}

#Dados{
 border-radius: 10px;
 left: 20%;
}